<div id="wrap-select">
    <div class="demo">


        <div>
            <div class="control-group">
                <select id="select-to" class="contacts" placeholder="Enter usernames/ or emails (Optional)"></select>

                <select id="input-tags" class="contacts" placeholder="Enter topic tags (Optional)"></select>
            </div>
        </div>

        <script>
        var REGEX_EMAIL = '([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@' +
                  '(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)';

        // load users from response
        var users = []; // [{email: '', name: ''}, ...]
        <% users.forEach(function(emailData) { %>
            users.push({'email' : "<%= emailData.email %>", 'name': "<%= emailData.name %>"});
        <% }); %>
        console.log(users);

        // load groups from response
        var groups = [];
        <% groups.forEach(function(group) { %>
            groups.push({'value' : "<%= group %>", 'text' : "<%= group %>"});
        <% }); %>
        console.log(groups);

        $('#select-to').selectize({
            persist: false,
            maxItems: null,
            valueField: 'email',
            labelField: 'name',
            searchField: ['name', 'email'],
            options:  users,
            render: {
                item: function(item, escape) {
                    return '<div>' +
                        (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '') +
                        (item.email ? '<span class="email">' + escape(item.email) + '</span>' : '') +
                    '</div>';
                },
                option: function(item, escape) {
                    var label = item.name || item.email;
                    var caption = item.name ? item.email : null;
                    return '<div>' +
                        '<span class="label">' + escape(label) + '</span>' +
                        (caption ? '<span class="caption">' + escape(caption) + '</span>' : '') +
                    '</div>';
                }
            },
            createFilter: function(input) {
                var match, regex;

                // email@address.com
                regex = new RegExp('^' + REGEX_EMAIL + '$', 'i');
                match = input.match(regex);
                if (match) return !this.options.hasOwnProperty(match[0]);

                // name <email@address.com>
                regex = new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i');
                match = input.match(regex);
                if (match) return !this.options.hasOwnProperty(match[2]);

                return false;
            },
            create: function(input) {
                if ((new RegExp('^' + REGEX_EMAIL + '$', 'i')).test(input)) {
                    return {email: input};
                }
                var match = input.match(new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i'));
                if (match) {
                    return {
                        email : match[2],
                        name  : $.trim(match[1])
                    };
                }
                alert('Invalid email address.');
                return false;
            }
        });

        $('#input-tags').selectize({
            delimiter: ',',
            maxItems: null,
            persist: false,
            options: groups,
            create: function(input) {
                return {
                    value: input,
                    text: input
                }
            }
        });
        </script>


    </div>
</div>