<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
    <head>
        <% include partials/head %>
        <% include partials/select_head %>

    </head>
    <body>
        <div id="wrapper">
            <div class="title" style="color:#2980b9; text-transform: uppercase; font-size:40pt; font-family: 'Ubuntu Condensed', sans-serif;">Send Notifications</div>

            <div style="color:#7f8c8d; font-size:16pt; font-family:'Roboto Slab', serif;">Enter a title, message, and the users to send the notification to (if you don't specify a user, we'll send it to the default user group set in your settings). We will automatically prioritize your message and send it to your selected users' preferred devices. </div>

            <div style="padding-top: 32px; padding-bottom:16px;">
                <div class="form-group">
                        <label for="notificationTitle">* Title</label>
                        <input id="notificationTitle" type="text" class="form-control" placeholder="Enter notification title (Required)" aria-describedby="basic-addon2">
                </div>
                <div class="form-group">
                    <label for="notificationBody">Body </label>
                    <textarea class="form-control" id="notificationBody" placeholder="(Optional)" rows="3"></textarea>
                </div>

                <hr>
                <div style="color:#7f8c8d; font-size:16pt; font-family:'Roboto Slab', serif;">Send Filters</div>

                <% include partials/select_body %>

                <!-- SUBMIT -->
                <button type="button" onClick="onSubmit()" class="btn btn-primary">Push it!</button>
            </div>

            <script>
                function onSubmit() {
                    console.log($(".selected-email").text());
                    console.log($(".selected-tag").text());
                    $.ajax({
                        type: 'POST',
                        url: '/send',
                        data: {
                            emails: $(".selected-email").text(),
                            tags: $(".selected-tag").text(),
                        },
                        success: function(resultData) {
                            alert(resultData);
                        }
                    });
                    // window.location.href = "/sendNotification?emails=" + $(".selected-email").text() + "&tags=" + $(".selected-tag").text(); // don't use a GET request like this
                }

            </script>
        </div>
    </body>
</html>